[package]
name = "conduit-protocol"
version = "0.1.0"
edition = "2021"
description = """
Network protocol for Conduit, an in-memory database backed by a key-value store.
"""
repository = "https://github.com/dark-fusion/conduit-protocol"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
path = "src/lib.rs"

[dependencies]
bytes = "1"
rand = "0.8"
tokio = { version = "1", features = ["macros", "net", "signal"] }
tokio-util = { version = "0.7", features = ["codec", "io-util", "net"] }
tokio-stream = "0.1.8"

[dev-dependencies]
tokio = { version = "1", features = ["full"] }

[profile.dev]
# Decrease compilation times during development
split-debuginfo = "unpacked"
